[user]
	name = Vick Aita
	email = 75151+vickaita@users.noreply.github.com
	username = vickaita
[core]
	editor = nvim
	pager = less -FRX --mouse
[init]
	defaultBranch = main
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	ddiff = difftool
	difft = difftool
	dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
	dshow = "!f() { GIT_EXTERNAL_DIFF=difft git show --ext-diff $@; }; f"
[include]
	path = ~/.gitconfig.local
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'
[mergetool]
	prompt = false
