agents/.pi/auth.json
agents/.pi/agent/auth.json
agents/.pi/agent/sessions/
nvim/.config/coc/
nvim/.config/iterm2/
nvim/.config/github-copilot/
nvim/.config/nvim/plugin/
nvim/.config/configstore/
nvim/.config/simple-update-notifier/
