{
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "tabWidth": 4,
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
